/* ===== BODY ===== */
body {
  margin: 0;
  padding-top: 70px; /* tránh bị header đè */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(23, 23, 118);
  font-family: Arial, sans-serif;

  opacity: 0;
  transition: opacity 0.6s ease;
}

body.loaded {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}

/* ===== HEADER ===== */
.top-box {
  width: 100%;
  height: 70px;
  background: #3076d1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  transition: transform 0.6s ease;
}

/* Header bắt đầu ẩn */
.top-box.start {
  transform: translateY(-100%);
}

/* Trượt xuống khi load */
.top-box.slide-down {
  transform: translateY(0);
}

/* Trượt lên khi rời trang */
.top-box.slide-up {
  transform: translateY(-100%);
}

/* ===== LOGO ===== */
.top-logo {
  position: absolute;
  left: 6px;
  top: 15px;
}

.top-logo img {
  width: 80px;
}
