/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  min-height: 100vh;
  padding-top: 50px; /* bằng header */
  background: rgb(23, 23, 118);
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;   /* căn giữa dọc */
  align-items: center;       /* căn giữa ngang */

  opacity: 0;
  transition: opacity 0.6s ease;
}

body.loaded {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}

/* ===== HEADER ===== */
.top-box {
  width: 100%;
  height: 50px;
  background: #3076d1;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* ===== LOGO HEADER ===== */
.top-logo {
  position: absolute;
  left: 8px;
  top: 13px;
}

.top-logo img {
  width: 50px;
  height: auto;
}

/* KHÔNG cho img ảnh hưởng toàn trang */
img {
  max-width: 100%;
}

/* ===== LOGIN BOX ===== */
.login-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: #304250;
  gap: 15px;
  
}
.login-box h6{
  display: flex;
  font-size: 10px;
  flex-direction: column;
  text-align: center;
}
.login-box img {
  width: 70px;
  margin: 0 auto 10px;
}

.login-box input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #1e90ff;
  color: white;
  cursor: pointer;
}

.login-box button:hover {
  background: #304250;
}

/* ===== MENU BUTTON (NẰM DƯỚI HEADER) ===== */
.menu-btn {
  position: fixed;
  top: 60px; /* 50px header + 10px */
  left: 15px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 900;
}/* ===== OVERLAY ===== */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;

  z-index: 999;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ===== POPUP BOX ===== */
.popup {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  transform: scale(0.7);
  transition: 0.4s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

#overlay.active .popup {
  transform: scale(1);
}

.popup .icon {
  width: 70px;
  height: 70px;
  background: #ff3b3b;
  color: white;
  font-size: 32px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 20px;
}
